html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="/style.css")
        title Meditation Escritoire
    body
        include nav-bar.pug
        if ticket.ticket
            div(class="ticket-details-container")
                div(class="ticket-details-header")
                    span(class="ticket-details-user") #{ticket.users[0].name}
                    span(class='ticket-details-date') #{new Date(ticket.ticket.updated_at).toDateString()}
                div Subject: #{ticket.ticket.subject}
                pre(class="ticket-details-description") #{ticket.ticket.description}
                div Status: #{ticket.ticket.status}
        else
            include error-template.pug